@import "tailwindcss";

.quicksand {
  font-family: var(--font-quicksand);
}
.nuni {
  font-family: var(--font-nunito-sans);
}
.inter {
  font-family: var(--font-inter);
}
@theme inline {
  --color-primary: #1a1c23;
  --color-secondary: #000;
  --color-txtgray: #9e9e9e ;
  
}